@import "./widgets/mixins"


h2
  margin-bottom: 20px

.articles-list-item
  height: 300px

  &:nth-child(-n+1)
    margin-bottom: 15px

  &:after
    content: ''
    display: block
    clear: both

  & > a
    float: left
    width: 40%
    height: 100%
    background-color: rgba(0,0,0,0.1)

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      height: 100%

    img
      max-height: 100%
      max-width: 100%
      vertical-align: middle

  .descr
    float: left
    width: 60%
    padding-left: 15px
    text-align: left

    a
      color: black

    .time
      @include big-time

    div
      color: #6e6e6e
