$view-height: 550px

.view
  position: absolute
  width: 100%
  height: $view-height
  top: 0
  left: 0
  background-color: black

  img
    width: auto
    max-height: 100%

  .title
    position: absolute
    bottom: 0
    width: 100%
    background-color: rgba(0, 0, 0, 0.5)
    color: white
    text-align: left
    padding: 10px 20px
    box-sizing: border-box

.time
  padding-top: $view-height
  text-align: left
