footer
  //position: absolute
  //bottom: 0
  width: 100%
  color: white
  text-align: left

  .links-wrapper
    background-image: url("./../assets/images/footer.png")
    background-size: 100% 100%
    background-repeat: no-repeat

    &:after
      content: ''
      display: block
      clear: both

  .links
    float: left
    width: 33.33%
    padding: 0 15px

    li
      margin: 10px 0

    h3
      padding-bottom: 5px
      border-bottom: 2px solid #7c2a2c

    &.mail
      input
        height: 35px

      .send
        display: inline-block
        background-color: #d62d32
        padding: 5px
        font-size: 14px

  .rights
    width: 100%
    background-color: #090d10
    padding: 10px 0
    text-align: center
