@import 'fonts'

@mixin vert-align
  display: table-cell
  vertical-align: middle

@mixin icon
  height: 20px
  width: 20px
  position: absolute
  top: calc(50% - 10px)

$head-height: 75px

header
  width: 100%
  height: $head-height
  background-color: #161D26
  color: white

  &:after
    content: ''
    display: block
    clear: left

  a
    height: 100%
    display: block
    color: white
    outline: none

  .logo
    display: block
    float: left
    position: relative
    width: 342px
    height: 100%
    color: white
    overflow: hidden

    img
      position: absolute
      top: -60px
      left: -85px
      transform: rotate(-38deg)
      height: 106px
      width: 303px
      opacity: 0.7

    .logo-text
      position: absolute
      top: 4px
      left: 112px
      text-transform: uppercase
      font-size: 39px
      font-weight: 900
      font-style: italic

    span
      position: absolute
      right: 0
      bottom: 9px
      font-size: 11px
      font-weight: 500
      font-style: italic

  .menu
    margin: 0
    height: 100%
    width: calc(100% - 342px) //  - 180px for auth
    float: left
    display: flex
    font-weight: 800
    font-size: 12px

    li
      display: block
      flex-grow: 1

    .date
      font-weight: 500

    .info-wrapper
      height: 100%
      display: inline-block

      .info-table
        position: relative
        display: table
        height: 100%

        img
          @include icon

        span
          @include vert-align
          padding-left: 32px
          min-width: 40px // 90px
          text-align: left

        .date-span
          min-width: 65px

      a
        display: table

        span
          @include vert-align

    .search
      input
        height: 34px
        width: 293px

    .vert-align
      line-height: $head-height

    .simple-menu-item:hover
      cursor: pointer
      background-color: #48525b
      transition: 0.5s

  .login
    float: right
    height: 100%
    width: 180px
    background-color: #3c454e

    &:hover
      cursor: pointer
      background-color: #505b64
      transition: 0.5s

    &-wrapper
      display: inline-block
      font-weight: 800
      font-size: 12px
      height: 100%

      .login-table
        position: relative
        display: table
        height: 100%

        img
          @include icon

        span
          @include vert-align
          padding-left: 32px
