@import "./widgets/mixins"

@mixin check-list($icon)
  content: $icon
  font-size: 1.35em
  vertical-align: baseline
  bottom: -.065em
  font-weight: 900
  color: #222

.main
  position: relative
  float: left
  width: calc(100% - 340px)
  height: calc(100vh - 75px)
  overflow: auto
  box-sizing: border-box

  & > article
    min-height: calc(100% - 233.5px)
    box-sizing: border-box

    h1
      margin: 0
      padding: 10px 0

    .title
      font-size: 36px

    .time
      display: block
      margin-bottom: 10px
      @include big-time

  .content
    float: left
    position: relative
    width: 77%
    min-height: $widget-height
    border-right: 1px solid #d6d6d6
    padding: 20px

  .article
    text-align: left

    .ql-align-right
      text-align: right

    .ql-align-center
      text-align: center

    @for $i from 1 through 8
      $padding: 3em * $i
      .ql-indent-#{$i}
        padding-left: $padding

    blockquote
      border-left: 4px solid #ccc
      margin: 5px 0
      padding-left: 16px

    ul
      margin-left: 1.5em

      li:before
        @include check-list('\2022')

      &[data-checked="false"] li:before
        @include check-list('\2610')

      &[data-checked="true"] li:before
        @include check-list('\2611')

    .ql-syntax
      white-space: pre-wrap
      margin-bottom: 5px
      margin-top: 5px
      padding: 5px 10px
      background-color: #23241f
      color: #f8f8f2
      overflow: visible
      border-radius: 3px

    h1
      font-size: 36px

    .time
      display: block
      margin-bottom: 10px
      @include big-time

    iframe
      width: 100%
      height: 500px

  article
    &:after
      content: ''
      display: block
      clear: both

    aside:last-of-type
      border-right: none

    .news-block:first-of-type
      border-right: $line
