.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .2)
  display: table
  transition: opacity .3s ease

.modal-wrapper
  display: table-cell
  vertical-align: middle

.modal-container
  width: 300px
  margin: 0 auto
  padding: 20px 30px
  background-color: #232935
  //border-radius: 2px
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
  transition: all .3s ease
  color: white

  .modal-header
    margin-top: 0
    font-size: 20px
    font-weight: 800
    text-transform: uppercase
    margin-bottom: 20px

  .modal-body
    margin-bottom: 20px

    input
      height: 30px
      width: 100%
      border-radius: 0
      border: 1px solid white
      margin-bottom: 20px
      background-color: #232935
      color: white

    .modal-links
      &:after
        content: ''
        display: block
        clear: both

      a
        &:nth-child(1)
          float: left

        &:nth-child(2)
          float: right

  .modal-footer
    .modal-button
      display: inline-block
      padding: 5px 15px
      background-color: #D52D32

      &:hover
        cursor: pointer

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter
  opacity: 0

.modal-leave-active
  opacity: 0

.modal-enter .modal-container,
.modal-leave-active .modal-container
  -webkit-transform: scale(1.1)
  transform: scale(1.1)
