.pagination
  margin: 30px 0

  &-wrap, &-block
    display: inline-block

  &-block
    width: 30px
    background-color: #161D26
    color: white
    padding: 5px 0

    a
      display: block
      width: 100%
      height: 100%
      color: white

    &:hover
      cursor: pointer
      background-color: #48525b

  .current
    background-color: #d62d32

    &:hover
      cursor: auto
