.side
  float: left
  background-color: #222a35
  width: 340px
  height: calc(100vh - 75px)

  .side-menu
    padding: 0
    margin: 0


    span, a
      display: block
      width: 100%
      color: white
      font-size: 15px
      font-weight: 800
      padding: 22px 0

    li
      transition: all 0.5s ease

      &.dropped
        span
          background-color: #181f29

        ul
          //-webkit-transform: scaleY(1)
          //-o-transform: scaleY(1)
          //-ms-transform: scaleY(1)
          //transform: scaleY(1)
          max-height: inherit
          //visibility: visible /* shows sub-menu */
          //opacity: 1
          //z-index: 1
          //transform: translateY(0%)
          transition-delay: 0s, 0s, 0.3s

    ul
      //float: left
      //width: 100%
      max-height: 0
      overflow: hidden
      //visibility: hidden /* hides sub-menu */
      //opacity: 0
      //transform: translateY(-2em)
      //z-index: -1
      //transition-property: max-height
      //transition-duration: 1s
      //transition-timing-function: linear
      //transition: all 1s ease-in-out 1s, visibility 0s linear 1s, z-index 0s linear 1s, max-height 1s linear 1s
      //-webkit-transition: max-height 0.5s ease-in-out
      //-moz-transition: max-height 0.5s ease-in-out
      //-o-transition: max-height 0.5s ease-in-out
      //transition: max-height 0.5s ease-in-out
      //-webkit-transform: scaleY(0)
      //-o-transform: scaleY(0)
      //-ms-transform: scaleY(0)
      //transform: scaleY(0)

      //-webkit-transform-origin: top
      //-o-transform-origin: top
      //-ms-transform-origin: top
      //transform-origin: top

      -webkit-transition: -webkit-transform 0.26s ease-out
      -o-transition: -o-transform 0.26s ease
      -ms-transition: -ms-transform 0.26s ease
      transition: transform 0.5s ease
      -webkit-box-shadow: 0 9px 9px rgba(0,0,0,0.3)
      -moz-box-shadow: 0 9px 9px rgba(0,0,0,0.3)
      box-shadow: 0 9px 9px rgba(0,0,0,0.3)

    &-item
      &:hover
        background-color: #d12c32
        cursor: pointer
        transition: 0.5s
