@import "header"
@import "side-menu"
@import "main"
@import "modal"
@import "fonts"

body
  //min-width: 1200px
  margin: 0
  font-family: 'Montserrat', 'Arial', sans-serif

  div
    box-sizing: border-box

  ul
    padding: 0

    li
      list-style-type: none

  a
    text-decoration: none
    outline: none

  h2
    margin: 0

  input
    border: none
    border-radius: 0
    padding: 0 10px
