@import './../pagination.sass'


@mixin btn
  background-color: #161d26
  color: white
  padding: 10px

  &:hover
    cursor: pointer

div
  box-sizing: border-box

.article-wrap
  &:after
    content: ''
    display: block
    clear: both

.article-img
  margin-bottom: 20px

.admin-content
  float: right
  min-height: calc(100vh - 75px)
  width: calc(100% - 200px)
  padding: 20px

  .add
    height: 40px
    max-width: 150px
    border-radius: 3px
    @include btn

    a
      color: white
      //padding: 5px

  table
    border-collapse: collapse
    margin-top: 20px
    width: 100%
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    -webkit-box-shadow: 2px 0 11px 0 rgba(0,0,0,0.75)
    -moz-box-shadow: 2px 0 11px 0 rgba(0,0,0,0.75)
    box-shadow: 2px 0 11px 0 rgba(0,0,0,0.75)

    thead
      background-color: #161D26
      color: white

      th
        padding: 20px 0

    tbody
      tr
        td
          max-width: 400px

        &:nth-child(even)
          background-color: #f8f6ff

  .fade-enter-active, .fade-leave-active
    transition: opacity .5s
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    opacity: 0

  .status
    padding: 5px 0
    position: fixed
    width: calc(100% - 240px)
    z-index: 100
    transition: 1s
    color: white

    &:hover
      cursor: pointer

    &.success
      background-color: #2ba11d

    &.fail
      background-color: #d12c32

  label
    width: 100%
    display: block
    text-align: left
    margin-bottom: 5px

  input
    height: 25px
    width: 100%
    box-sizing: border-box
    border-radius: 0
    border: 1px solid #b2b2b2b3
    margin-bottom: 15px

  .cat-info
    &:after
      content: ''
      display: block
      clear: left

    select
      display: block
      float: left
      padding: 5px
      margin-right: 15px

    .add-category
      @include btn
      float: left

  .category
    position: relative
    @include btn
    display: inline-block
    padding: 5px 30px 5px 10px
    margin: 0 10px 10px 0

    &-delete
      position: absolute
      top: 5px
      right: 10px
      color: #d12c32

      &:hover
        cursor: pointer

  .set-thumbnail
    display: block
    max-width: 250px
    border: none

  iframe
    display: block

  .quillWrapper
    margin-bottom: 15px
