a
  text-decoration: none
  outline: none

.admin-menu
  position: fixed
  width: 200px
  background-color: #161D26
  height: 100vh

.admin-menu-list
  margin: 0
  padding: 0
  list-style-type: none
  font-size: 18px

  .admin-menu-item

    &:hover
      background-color: #48525b
      transition: 0.5s
    a
      display: block
      width: 100%
      padding: 15px 0
      color: white
