<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <transition name="fade">
        <div v-if="status === false && trigger" @click="trigger = !trigger" class="status fail">
          <p>Error.</p>
        </div>
      </transition>
      <h1>Adding Page</h1>
      <div>
        <label>URL:</label>
        <input placeholder="url" v-model="page.url"/>
        <label>Name:</label>
        <input placeholder="name" v-model="page.name"/>
        <label>Content:</label>
        <vue-editor v-model="page.content"></vue-editor>
        <button v-on:click="addPage">Add</button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import PagesService from '@/services/PagesService'
import { VueEditor } from 'vue2-editor'

export default {
  name: 'AddArticle',
  components: {
    Menu,
    VueEditor
  },
  data () {
    return {
      page: {},
      status: null,
      trigger: true
    }
  },
  methods: {
    async addPage () {
      try {
        const response = await PagesService.addPage({ url: this.page.url, name: this.page.name, content: this.page.content })
        if (response.data.status === 'success') {
          this.$router.push({ name: 'admin-pages', query: { status: true } })
        } else {
          this.showErr()
        }
      } catch (err) {
        this.showErr()
      }
    },
    showErr: function () {
      this.status = false
      this.trigger = true
    }
  }
}
</script>

<style scoped>

</style>
