<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <transition name="fade">
        <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
          <p>Page has been successfully edited.</p>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
          <p>Error.</p>
        </div>
      </transition>
      <h1>Editing Page</h1>
      <div>
        <label>URL:</label>
        <input placeholder="url" v-model="page.url"/>
        <label>Name:</label>
        <input placeholder="name" v-model="page.name"/>
        <label>Content:</label>
        <vue-editor v-model="page.content"></vue-editor>
        <button v-on:click="editPage">Edit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import PagesService from '@/services/PagesService'
import { VueEditor } from 'vue2-editor'

export default {
  name: 'EditArticle',
  components: {
    Menu,
    VueEditor
  },
  data () {
    return {
      page: {},
      status: null,
      triggers: {
        success: true,
        fail: true
      }
    }
  },
  mounted () {
    this.getPage(this.$route.params.url)
  },
  methods: {
    async getPage (url) {
      try {
        const response = await PagesService.getPage({ url: url })
        this.page = response.data.page
      } catch (err) {
        console.log(err)
      }
    },
    async editPage () {
      try {
        const response = await PagesService.editPage({
          id: this.page._id,
          url: this.page.url,
          name: this.page.name,
          content: this.page.content
        })

        this.status = response.data.status === 'success'
        this.triggers.success = this.triggers.fail = true
      } catch (e) {
        this.status = false
        this.triggers.fail = true
      }
    }
  }
}
</script>

<style scoped>

</style>
