<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <div>
        <transition name="fade">
          <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
            <p>Page has been successfully edited.</p>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
            <p>Error.</p>
          </div>
        </transition>
        <div class="add"><router-link :to="{ name: 'admin-add-page' }">Add new page</router-link></div>
        <table>
          <thead>
            <th>#</th>
            <th>URL</th>
            <th>Name</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr class="articles-list" v-for="(page, i) in pages" :key="page._id">
              <td>{{ i }}</td>
              <td>{{ page.url }}</td>
              <td>{{ page.name }}</td>
              <td>
                <router-link v-bind:to="{ name: 'admin-edit-page', params: { url: page.url } }">Edit</router-link>
                <button v-on:click="deletePage(page._id, i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import PagesService from '@/services/PagesService'

export default {
  name: 'AdminPages',
  components: {
    Menu
  },
  data () {
    return {
      pages: [],
      status: null,
      triggers: {
        success: false,
        fail: false
      },
      message: ''
    }
  },
  mounted () {
    this.getPages()
    this.showSuccess()
  },
  methods: {
    async getPages () {
      try {
        const response = await PagesService.getPages()
        this.pages = response.data.pages
      } catch (err) {
        this.showErr()
      }
    },
    async deletePage (id, num) {
      try {
        await PagesService.deletePage({ id: id })
        this.pages.splice(num, 1)
      } catch (err) {
        this.showErr(err)
      }
    },
    showSuccess: function () {
      this.status = this.triggers.success = this.$route.query.status === true
    },
    showErr: function () {
      this.status = false
      this.triggers.fail = true
    }
  }
}
</script>

<style scoped>

</style>
