<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <transition name="fade">
        <div v-if="status === false && trigger" @click="trigger = !trigger" class="status fail">
          <p>Error.</p>
        </div>
      </transition>
      <h1>Adding Video</h1>
      <div>
        <label>Title:</label>
        <input v-model="video.title" placeholder="url" />
        <label>URL:</label>
        <input v-model="video.url" placeholder="name" />
        <label>Preview:</label>
        <iframe
                width="640"
                height="385"
                v-bind:src="'http://www.youtube.com/embed/' + video.url"
                frameborder="0">
        </iframe>
        <button v-on:click="addVideo">Add</button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import VideoService from '@/services/VideoService'

export default {
  name: 'AddVideo',
  components: {
    Menu
  },
  data () {
    return {
      video: {
        title: '',
        url: ''
      },
      status: null,
      trigger: true
    }
  },
  methods: {
    async addVideo () {
      try {
        await VideoService.addVideo({ title: this.video.title, url: this.video.url })
        this.$router.push({ name: 'admin-videos' })
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
