<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <transition name="fade">
        <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
          <p>Video has been successfully edited.</p>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
          <p>Error.</p>
        </div>
      </transition>
      <h1>Editing Video</h1>
      <div>
        <label>Title:</label>
        <input v-model="video.title" placeholder="url" />
        <label>URL:</label>
        <input v-model="video.url" placeholder="name" />
        <label>Preview:</label>
        <iframe
          width="640"
          height="385"
          v-bind:src="'http://www.youtube.com/embed/' + video.url"
          frameborder="0">
        </iframe>
        <button v-on:click="editVideo">Edit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import VideoService from '@/services/VideoService'

export default {
  name: 'EditVideo',
  components: {
    Menu
  },
  data () {
    return {
      video: {
        title: '',
        url: ''
      },
      status: null,
      triggers: {
        success: true,
        fail: true
      }
    }
  },
  mounted () {
    this.getVideo(this.$route.params.id)
  },
  methods: {
    async getVideo (id) {
      try {
        const response = await VideoService.getVideo({ id: id })
        this.video = response.data.video
      } catch (err) {
        console.log(err)
      }
    },
    async editVideo () {
      try {
        const response = await VideoService.editVideo({ id: this.video._id, title: this.video.title, url: this.video.url })
        this.status = response.data.status === 'success'
        this.triggers.success = this.triggers.fail = true
      } catch (e) {
        this.status = false
        this.triggers.fail = true
      }
    }
  }
}
</script>

<style scoped>

</style>
