<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <div>
        <transition name="fade">
          <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
            <p>Page has been successfully edited.</p>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
            <p>Error.</p>
          </div>
        </transition>
        <div class="add"><router-link :to="{ name: 'admin-add-video' }">Add new video</router-link></div>
        <table>
          <thead>
            <th>#</th>
            <th>Name</th>
            <th>Watched</th>
            <th>Date</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr class="articles-list" v-for="(video, i) in videos" :key="video._id">
              <td>{{ i }}</td>
              <td>{{ video.title }}</td>
              <td>{{ video.watched }}</td>
              <td>{{ video.created_at }}</td>
              <td>
                <router-link v-bind:to="{ name: 'admin-edit-video', params: { id: video._id } }">Edit</router-link>
                <button v-on:click="deleteVideo(video._id, i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import VideoService from '@/services/VideoService'

export default {
  name: 'Videos',
  components: {
    Menu
  },
  data () {
    return {
      videos: [],
      status: null,
      triggers: {
        success: false,
        fail: false
      }
    }
  },
  mounted () {
    this.getVideos()
  },
  methods: {
    async getVideos () {
      try {
        const response = await VideoService.getVideos()
        this.videos = response.data.videos
      } catch (err) {
        console.log(err)
      }
    },
    async deleteVideo (num) {
      try {
        await VideoService.deleteVideo()
        this.videos.splice(num, 1)
      } catch (err) {
        this.showErr()
      }
    },
    showSuccess: function () {
      this.status = this.triggers.success = this.$route.query.status === true
    },
    showErr: function () {
      this.status = false
      this.triggers.fail = true
    }
  }
}
</script>

<style scoped>

</style>
