@import "mixins"


.news-block
  float: left
  width: 50%
  padding: 20px
  text-align: left
  border-bottom: $line

  h2
    @include widgets-title

  &-item
    width: 100%
    padding: 20px 0
    @include clear

    &:first-of-type
      border-bottom: $line

    .preview-img
      @include preview-img
      height: 250px
      text-align: center

      &:before
        content: ''
        display: inline-block
        vertical-align: middle
        height: 100%

      img
        max-height: 100%
        max-width: 100%
        vertical-align: middle

    .descr
      @include descr

      h3
        margin: 0

        a
          @include link(700)

      .time
        @include big-time
        margin: 10px 0

      .preview
        @include prev-text
        font-size: 17px

      .read-btn
        @include btn
        font-size: 15px
