@import "mixins"


.bottom-widget
  float: left
  width: 100%
  padding: 20px
  text-align: left

  &-item
    float: left
    width: 33.33%
    @include clear

    .preview-img
      @include preview-img

      img
        width: 100%
        height: 150px

    .descr
      @include descr

      h3
        margin: 0

        a
          @include link(600)

      .time
        @include little-time
        margin: 10px 0

      .preview
        @include prev-text
        font-size: 15px

      .read-btn
        @include btn
        font-size: 13px
