@import "mixins"

.main-news
  float: left
  width: 54%
  height: $widget-height
  padding: 20px
  border-right: $line
  border-bottom: $line

  &-view
    float: left
    height: 100%
    width: 70%
    padding-right: 10px
    text-align: left

    &-img
      height: 300px
      width: 100%
      text-align: center

      &:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle

      img
        max-height: 100%
        max-width: 100%
        vertical-align: middle

    h2
      a
        @include link(700)

    .time
      @include big-time
      margin-bottom: 10px

    .preview
      @include prev-text
      font-size: 17px

    .read-btn
      @include btn
      font-size: 15px

      a
        color: white

  aside
    float: left
    width: 30%
    height: 100%

    .side-item
      height: 20%
      margin: 0 10px
      padding-right: 5px
      text-align: left
      overflow: hidden

      &:nth-child(-n+4)
        border-bottom: $line

      h3
        margin: 0

        a
          @include link(600)

      span
        @include little-time

      .preview
        font-size: 14px
        font-weight: 500
        color: #6e6e6e

        h2
          display: block
          float: left
