$line: 1px solid #d6d6d6
$widget-height: 532px
$time-color: #df0000

@mixin widgets-title
  display: inline-block
  padding: 0 15px 16px 15px
  border-bottom: 1px solid $time-color
  font-size: 18px
  font-weight: 600
  text-transform: uppercase

@mixin preview-img
  display: block
  float: left
  width: 40%

@mixin descr
  float: left
  width: 60%
  padding-left: 15px

@mixin link($weight)
  color: black
  text-decoration: none
  font-size: 18px
  font-weight: $weight

@mixin little-time
  font-size: 10px
  font-weight: 600
  color: $time-color

@mixin big-time
  display: block
  font-size: 12px
  font-weight: 600
  color: $time-color

@mixin prev-text
  color: #6e6e6e
  font-weight: 500

@mixin btn
  display: inline-block
  background-color: #222a35
  padding: 5px

  a
    color: white


  &:hover
    cursor: pointer
    transition: 0.5s
    background-color: #d12c32

@mixin clear
  &:after
    content: ''
    display: block
    clear: both
