@import "mixins"

aside
  float: left
  width: 23%
  height: $widget-height
  padding: 20px
  box-sizing: border-box
  border-right: $line
  border-bottom: $line

  h2
    @include widgets-title

  ul
    margin: 0

    li
      border-bottom: $line
      margin-bottom: 10px

      &:nth-child(2)
        margin-bottom: 20px

      a
        display: inline-block
        color: black
        font-size: 17px
        font-weight: 600
        margin: 10px 0
        text-decoration: none

      iframe
        width: 100%
        padding-bottom: 5px
