<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <transition name="fade">
        <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
          <p>Page has been successfully edited.</p>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
          <p>Error.</p>
        </div>
      </transition>
      <h1>Editing User</h1>
      <div>
        <label>Email:</label>
        <input v-model="user.email" placeholder="email" type="email"/>
        <label>Role</label>
        <select v-model="user.role">
          <option selected>{{ user.role }}</option>
          <option>user</option>
          <option>admin</option>
        </select>
        <button v-on:click="editUser(user._id)">Edit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import UserService from '@/services/UserService'

export default {
  name: 'EditUser',
  components: {
    Menu
  },
  data () {
    return {
      user: {},
      status: null,
      triggers: {
        success: true,
        fail: true
      }
    }
  },
  mounted () {
    this.getUser(this.$route.params.id)
  },
  methods: {
    async getUser (id) {
      try {
        const response = await UserService.getUser({ id: id })
        this.user = response.data.user
      } catch (err) {
        console.log(err)
      }
    },
    async editUser (id) {
      try {
        const response = await UserService.editUser({ id: id, email: this.user.email, role: this.user.role })

        this.status = response.data.status === 'success'
        this.triggers.success = this.triggers.fail = true
      } catch (err) {
        this.status = false
        this.triggers.fail = true
      }
    }
  }
}
</script>

<style scoped>

</style>
