<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <div>
        <transition name="fade">
          <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
            <p>User has been successfully edited.</p>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
            <p>Error.</p>
          </div>
        </transition>
        <table>
          <thead>
          <th>#</th>
          <th>ID</th>
          <th>Email</th>
          <th>Actions</th>
          </thead>
          <tbody>
          <tr class="articles-list" v-for="(user, i) in users" :key="user._id">
            <td>{{ i }}</td>
            <td>{{ user._id }}</td>
            <td>{{ user.email }}</td>
            <td>
              <router-link v-bind:to="{ name: 'admin-edit-user', params: { id: user._id } }">Edit</router-link>
              <button v-if="!user.banned" v-on:click="banUser(user._id, i)">Ban</button>
              <button v-if="user.banned" v-on:click="unbanUser(user._id, i)">Unban</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import UserService from '@/services/UserService'

export default {
  name: 'AdminUsers',
  components: {
    Menu
  },
  data () {
    return {
      users: [],
      status: null,
      triggers: {
        success: false,
        fail: false
      }
    }
  },
  mounted () {
    this.getUsers()
  },
  methods: {
    async getUsers () {
      try {
        const response = await UserService.getUsers()
        this.users = response.data.users
      } catch (err) {
        console.log(err)
      }
    },
    async banUser (id, num) {
      try {
        const response = await UserService.banUser({ id: id })
        this.status = this.triggers.success = response.data.status === 'success'
        this.users[num].banned = true
      } catch (err) {
        this.status = false
        this.triggers.fail = true
      }
    },
    async unbanUser (id, num) {
      try {
        const response = await UserService.unbanUser({ id: id })
        this.status = this.triggers.success = response.data.status === 'success'
        this.users[num].banned = false
      } catch (err) {
        this.status = false
        this.triggers.fail = true
      }
    }
  }
}
</script>

<style scoped>

</style>
