<template>
  <SideSlider>
    <h2 slot="title">Here may be your advertising</h2>
    <ul slot="list"></ul>
  </SideSlider>
</template>

<script>
import SideSlider from './SideSlider'
// import WidgetsService from '@/services/WidgetsService'

export default {
  name: 'Adv',
  components: {
    SideSlider
  },
  data () {
    return {}
  },
  mounted () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
  @import './../../assets/styles/widgets/side-slider'
</style>
