<template>
  <div class="bottom-widget">
    <div class="bottom-widget-item">
      <router-link :to="{ name: 'article', params: { name: article.title } }" class="preview-img"><img v-bind:src="src(article.thumbnail)" /></router-link>
      <div class="descr">
        <h3>
          <router-link :to="{ name: 'article', params: { name: article.title } }">{{ article.title }}</router-link>
        </h3>
        <span class="time">{{ article.published_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <div class="preview">{{ preview(article.content) | striphtml }}</div>
        <div class="read-btn">
          <router-link :to="{ name: 'article', params: { name: article.title } }">Читать</router-link>
        </div>
      </div>
    </div>
    <div class="bottom-widget-item">
      <router-link :to="{ name: 'article', params: { name: article.title } }" class="preview-img"><img v-bind:src="src(article.thumbnail)" /></router-link>
      <div class="descr">
        <h3>
          <router-link :to="{ name: 'article', params: { name: article.title } }">{{ article.title }}</router-link>
        </h3>
        <span class="time">{{ article.published_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <div class="preview">{{ preview(article.content) | striphtml }}</div>
        <div class="read-btn">
          <router-link :to="{ name: 'article', params: { name: article.title } }">Читать</router-link>
        </div>
      </div>
    </div>
    <div class="bottom-widget-item">
      <div>Here may be your advertising</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BottomWidget',
  data () {
    return {
      article: {
        title: 'sdfg',
        thumbnail: 'default.png',
        published_at: new Date(),
        content: '<h2 class="ql-align-right">content2</h2><p class="ql-align-right"> fgkhfgj hkgd;lh dgj;hl kjdh ;ldh df;lh jdf;lkhj fd;hlk jfdh;lk jdfh;lk</p>'
      }
    }
  },
  mounted () {
  },
  methods: {
    preview: (content) => {
      return content.slice(0, 75)
    },
    src: (src) => {
      return require('./../../assets/images/article/' + src)
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../../assets/styles/widgets/bottom-widget.sass'
</style>
