<template>
  <div class="main-news">
    <div class="main-news-view">
      <div class="main-news-view-img">
        <img v-bind:src="currentNew.thumbnail" />
      </div>
      <h2><router-link :to="{ name: 'article', params: { name: currentNew.title } }">{{ currentNew.title }}</router-link></h2>
      <span class="time">{{ currentNew.updated_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
      <div class="preview">{{ preview(currentNew.content) | striphtml }}</div>
      <div class="read-btn">
        <router-link :to="{ name: 'article', params: { name: currentNew.title } }">Читать больше</router-link>
      </div>
    </div>
    <aside>
      <!--v-on:hover="hover(newOne)"-->
      <div v-for="newOne in news" v-bind:key="newOne._id" class="side-item">
        <h3><router-link :to="{ name: 'article', params: { name: newOne.title } }">{{ newOne.title }}</router-link></h3>
        <span class="time">{{ newOne.updated_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <div class="preview">{{ preview(newOne.content) | striphtml }}</div>
      </div>
    </aside>
  </div>
</template>

<script>
import WidgetsService from '@/services/WidgetsService'

export default {
  name: 'MainNews',
  data () {
    return {
      date: new Date(),
      currentNew: {
        published_at: new Date(),
        content: ''
      },
      news: []
    }
  },
  mounted () {
    this.getMainNews()
  },
  methods: {
    async getMainNews () {
      const response = await WidgetsService.getMainNews()
      this.news = response.data.news
      this.currentNew = this.news[0]
    },
    preview: (content) => {
      return content.slice(0, 25)
    },
    hover: (newOne) => {
      this.currentNew = newOne
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../../assets/styles/widgets/main-news.sass'
</style>
