<template>
  <div class="news-block">
    <slot name="title">Default title</slot>
    <div class="news-block-item" v-for="article in articles" :key="article.title">
      <router-link :to="{ name: 'article', params: { name: article.title } }" class="preview-img"><img v-bind:src="article.thumbnail" /></router-link>
      <div class="descr">
        <h3>
          <router-link :to="{ name: 'article', params: { name: article.title } }">{{ article.title }}</router-link>
        </h3>
        <span class="time">{{ article.updated_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <div class="preview">{{ preview(article.content) | striphtml }}</div>
        <div class="read-btn">
          <router-link :to="{ name: 'article', params: { name: article.title } }">Читать больше</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WidgetsService from '@/services/WidgetsService'

export default {
  name: 'NewsBlock',
  data () {
    return {
      articles: []
    }
  },
  mounted () {
    this.getTopWatching()
  },
  methods: {
    async getTopWatching () {
      const response = await WidgetsService.getTopWatching()
      this.articles = response.data.news
    },
    preview: (content) => {
      return content.slice(0, 75)
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../../assets/styles/widgets/block-news.sass'
</style>
