<template>
  <aside>
    <slot name="title" class="title">Default title</slot>
    <slot name="list" class="title">Default list</slot>
    <!--<button>left</button>-->
    <!--<button>right</button>-->
  </aside>
</template>

<script>
export default {
  name: 'SideSlider'
}
</script>

<style scoped>

</style>
