<template>
  <SideSlider>
    <h2 slot="title">Videos</h2>
    <ul slot="list">
      <li v-for="video in videos" v-bind:key="video.title">
        <img v-bind:src="video.src" />
        <router-link :to="{ name: 'video', params: { name: video.title } }">{{ video.title }}</router-link>
        <!--<span class="time">{{ video.created_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>-->
        <iframe
          v-bind:src="'http://www.youtube.com/embed/' + video.url"
          frameborder="0">
        </iframe>
      </li>
    </ul>
  </SideSlider>
</template>

<script>
import SideSlider from './SideSlider'
import WidgetsService from '@/services/WidgetsService'

export default {
  name: 'Videos',
  components: {
    SideSlider
  },
  data () {
    return {
      videos: []
    }
  },
  mounted () {
    this.getVideos()
  },
  methods: {
    async getVideos () {
      const response = await WidgetsService.getVideos()
      this.videos = response.data.videos
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../../assets/styles/widgets/side-slider'
</style>
