<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <h1>Welcome to the news admin panel!</h1>
      <div>
        <p>Some information may be here.</p>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from './Menu'

export default {
  name: 'MainAdmin',
  components: {
    Menu
  }
}
</script>

<style scoped>

</style>
