<template>
    <div>
      <div class="admin-menu">
        <ul class="admin-menu-list">
          <li class="admin-menu-item"><router-link :to="{ name: 'main-admin' }">Main</router-link></li>
          <li class="admin-menu-item"><router-link :to="{ name: 'admin-users' }">Users</router-link></li>
          <li class="admin-menu-item"><router-link :to="{ name: 'admin-pages' }">Pages</router-link></li>
          <li class="admin-menu-item"><router-link :to="{ name: 'admin-articles' }">Articles</router-link></li>
          <li class="admin-menu-item"><router-link :to="{ name: 'admin-videos' }">Videos</router-link></li>
        </ul>
      </div>
    </div>
</template>

<script>
export default {
  name: 'MainAdmin'
}
</script>

<style lang="sass">
@import '../../assets/styles/admin/style.sass'
</style>
