<template>
  <Content>
    <article slot="content">
      <div class="content">
        <div class="view">
          <img v-bind:src="article.thumbnail" />
          <h1 class="title">{{ article.title }}</h1>
        </div>
        <span class="time">{{ article.updated_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <div v-html="article.content" class="article"></div>
      </div>
      <Videos/>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import Videos from './widgets/Videos'
import ArticlesService from '@/services/ArticlesService'

export default {
  name: 'Article',
  components: {
    Content,
    Videos
  },
  data () {
    return {
      article: {
        published_at: new Date()
      },
      watched: []
    }
  },
  mounted () {
    this.getArticle(this.$route.params.name)
  },
  methods: {
    async getArticle (name) {
      try {
        const response = await ArticlesService.getArticleByName({ name: name })
        this.article = response.data.article

        if (localStorage.getItem('articles')) {
          this.watched = await JSON.parse(localStorage.getItem('articles'))
          const isWatched = await this.watched.indexOf(name)
          if (isWatched > -1) {
            console.log('i watched it')
            console.log(this.article.watched)
          } else {
            console.log('i didn`t watch it')
            this.addWatch(name)
          }
        } else {
          this.addWatch(name)
        }
      } catch (e) {
        console.log(e)
      }
    },
    async addWatch (name) {
      this.watched.push(name)
      console.log(this.watched)
      const articles = JSON.stringify(this.watched)

      localStorage.setItem('articles', articles)
      await ArticlesService.addWatch({ name: name })
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/article.sass'
</style>
