<template>
  <Content>
    <article slot="content">
      <div class="content">
        <div v-if="articles.length === 0">
          <h2>There are no articles such category</h2>
        </div>
        <div class="articles-list-item" v-for="article in articles" :key="article.title">
          <router-link :to="{ name: 'article', params: { name: article.title } }"><img v-bind:src="article.thumbnail" /></router-link>
          <div class="descr">
            <h2>
              <router-link :to="{ name: 'article', params: { name: article.title } }">{{ article.title }}</router-link>
            </h2>
            <span class="time">{{ article.published_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
            <div>{{ preview(article.content) | striphtml }}</div>
          </div>
        </div>
      </div>
      <Videos/>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import Videos from './widgets/Videos'
import ArticlesService from '@/services/ArticlesService'

export default {
  name: 'Articles',
  components: {
    Content,
    Videos
  },
  data () {
    return {
      articles: []
    }
  },
  mounted () {
    this.getArticles(this.$route.params.category)
  },
  methods: {
    async getArticles (category) {
      try {
        const response = await ArticlesService.getArticlesByCategory({ category: category })
        this.articles = response.data.articles
      } catch (err) {
        console.log(err)
      }
    },
    preview: (str) => {
      return str.slice(0, 50)
    }
  },
  watch: {
    '$route.params.category': function (name) {
      this.getArticles(name)
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/articles.sass'
</style>
