<template>
  <div>
    <Header/>
    <SideMenu/>

    <section class="main">
      <slot name="content">
        Default content
      </slot>

      <Footer/>
    </section>
  </div>
</template>

<script>
import Header from './Header'
import Footer from './Footer'
import SideMenu from './SideMenu'

export default {
  name: 'Content',
  components: {
    Header,
    Footer,
    SideMenu
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/content.sass'
</style>
