<template>
  <footer>
    <div class="links-wrapper">
      <div class="links">
        <h3>LINKS 1</h3>
        <ul class="links-list">
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
        </ul>
      </div>
      <div class="links">
        <h3>LINKS 2</h3>
        <ul class="links-list">
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
          <li class="links-list-item">template</li>
        </ul>
      </div>
      <div class="links mail">
        <h3>TEMPLATE 3</h3>
        <ul class="links-list">
          <li class="links-list-item">
            <span>some text</span>
          </li>
          <li class="links-list-item">
            <input v-model="email" type="email" placeholder="Ваш email" />
          </li>
          <li class="links-list-item">
            <div @click="emailSub()" class="send">Отправить</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="rights">Все права защищены. 2018</div>
  </footer>
</template>

<script>
import UserService from '@/services/UserService'

export default {
  name: 'Footer',
  data () {
    return {
      email: ''
    }
  },
  methods: {
    async emailSub () {
      await UserService.emailSub({ email: this.email })
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/footer.sass'
</style>
