<template>
    <header>
      <router-link :to="{ path: '/' }" class="logo">
        <img src="../assets/images/header/logo.png" />
        <div class="logo-text">факт</div>
        <span>Факты. Аналитика. Комментарии. Тенденции</span>
      </router-link>

      <ul class="menu">
        <li class="date">
          <div class="info-wrapper">
            <div class="info-table">
              <img src="../assets/images/header/calendar.png" />
              <span class="date-span">
                <b>{{ date.day }}</b>
                <br>{{ date.number }}
                </span>
            </div>
          </div>
        </li>
        <li class="currency-rate">
          <div class="info-wrapper">
            <div class="info-table">
              <img src="../assets/images/header/usd.png" />
              <span>{{ exchRate.usd }}<!-- / ??.???--></span>
            </div>
          </div>
        </li>
        <li class="currency-rate">
          <div class="info-wrapper">
            <div class="info-table">
              <img src="../assets/images/header/eur.png" />
              <span>{{ exchRate.eur }}<!-- / ??.???--></span>
            </div>
          </div>
        </li>
        <li class="search vert-align">
          <input @keyup.enter="search(info)" v-model="info" placeholder="search"/>
        </li>
        <li class="simple-menu-item">
          <div class="info-wrapper">
            <router-link :to="{ name: 'pages', params: { page: 'links' } }">
              <span>Полезные<br>ссылки</span>
            </router-link>
          </div>
        </li>
        <li class="simple-menu-item vert-align">
          <router-link :to="{ name: 'pages', params: { page: 'services' } }">Услуги</router-link>
        </li>
        <li class="simple-menu-item vert-align">
          <router-link :to="{ name: 'pages', params: { page: 'partners' } }">Партнеры</router-link>
        </li>
        <li class="simple-menu-item vert-align">
          <router-link :to="{ name: 'pages', params: { page: 'about' } }">Об агентстве</router-link>
        </li>
        <li class="simple-menu-item vert-align">
          <router-link :to="{ name: 'pages', params: { page: 'contacts' } }">Контакты</router-link>
        </li>
      </ul>

      <!--<div @click="showModal = true" class="login">
        <div class="login-wrapper">
          <div class="login-table">
            <img src="../assets/images/header/login.png" />
            <span>Авторизация</span>
          </div>
        </div>
      </div>-->

      <modal v-if="showModal" @close="showModal = false">
        <span slot="header">Авторизация</span>

        <div slot="body">
          <input v-model="user.email" placeholder="email" />
          <input v-model="user.pass" placeholder="password" />
          <div class="modal-links">
            <router-link :to="{ path: 'restore-pass' }">Забыли пароль?</router-link>
            <router-link :to="{ path: 'register' }">Регистрация</router-link>
          </div>
        </div>

        <div slot="footer" class="modal-button">Войти</div>
      </modal>
    </header>
</template>

<script>
import Modal from './Modal'
import WidgetsService from '@/services/WidgetsService'

export default {
  name: 'Header',
  components: {
    Modal
  },
  data () {
    return {
      date: {
        day: '???????',
        number: '??.??.????'
      },
      exchRate: {
        usd: '??.???',
        eur: '??.???'
      },
      info: '',
      showModal: false,
      user: {
        email: '',
        pass: ''
      }
    }
  },
  mounted () {
    this.getRates()
  },
  methods: {
    async getRates () {
      const days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']
      const moment = this.$moment().tz('Europe/Kiev')
      const date = moment.format('YYYYMMDD')
      const resUSD = await WidgetsService.getUSD({ date })
      const resEUR = await WidgetsService.getEUR({ date })
      const rateUSD = resUSD.data[0].rate
      const rateEUR = resEUR.data[0].rate

      this.date.day = days[moment.format('e') - 1]
      this.date.number = moment.format('DD.MM.YYYY')
      this.exchRate.usd = rateUSD.toString().slice(0, 6)
      this.exchRate.eur = rateEUR.toString().slice(0, 6)
    },
    search (info) {
      this.$router.push({ name: 'search', params: { info: info } })
    }
  }
}
</script>

<style lang="sass">
@import '../assets/styles/style.sass'
</style>
