<template>
  <Content>
    <article slot="content">
      <MainNews/>
      <Videos/>
      <Adv/>
      <NewsBlock>
        <h2 slot="title">Top watching</h2>
      </NewsBlock>
      <NewsBlock>
        <h2 slot="title">Top watching</h2>
      </NewsBlock>
      <BottomWidget/>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import MainNews from './widgets/MainNews'
import Adv from './widgets/Adv'
import Videos from './widgets/Videos'
import NewsBlock from './widgets/NewsBlock'
import BottomWidget from './widgets/BottomWidget'

export default {
  name: 'Main',
  components: {
    BottomWidget,
    Content,
    MainNews,
    Videos,
    NewsBlock,
    Adv
  },
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
