<template>
  <Content>
    <article slot="content">
      <div v-if="page === null">
        <h1>Error page not found</h1>
      </div>
      <div v-else class="page">
        <h1>{{ page.name }}</h1>
        <div v-html="page.content" class="article"></div>
      </div>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import PagesService from '@/services/PagesService'

export default {
  name: 'Pages',
  components: {
    Content
  },
  data () {
    return {
      page: {}
    }
  },
  mounted () {
    this.getPage(this.$route.params.page)
  },
  methods: {
    async getPage (page) {
      try {
        const response = await PagesService.getPage({ url: page })
        this.page = response.data.page
      } catch (err) {
        console.log(err)
        this.page = null
      }
    }
  },
  watch: {
    '$route.params.page': function (page) {
      this.getPage(page)
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/pages.sass'
</style>
