<template>
  <Content>
    <article slot="content">
      <div class="content">
        <h2>Searching results: {{ this.$route.params.info }}</h2>

        <template v-if="results">
          <div class="articles-list" v-for="result in results" :key="result.title">
            <div class="articles-list-item">
              <router-link :to="{ name: 'article', params: { name: result.title } }">
                <img v-bind:src="result.thumbnail" />
              </router-link>

              <div class="descr">
                <h2>
                  <router-link :to="{ name: 'article', params: { name: result.title } }">{{ result.title }}</router-link>
                </h2>
                <span class="time">{{ result.updated_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
                <div>{{ preview(result.content) | striphtml }}</div>
              </div>
            </div>
          </div>
        </template>

        <template v-else>
          <h2>Nothing found</h2>
        </template>
      </div>

      <Videos/>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import Videos from './widgets/Videos'
import ArticlesService from '@/services/ArticlesService'

export default {
  name: 'Search',
  components: {
    Content,
    Videos
  },
  data () {
    return {
      results: []
    }
  },
  mounted () {
    this.search(this.$route.params.info)
  },
  methods: {
    async search (info) {
      if (info) {
        const response = await ArticlesService.searchArticles({ info: info })
        this.results = response.data.articles
      } else {
        this.results = null
      }
    },
    preview: (str) => {
      if (str) {
        return str.slice(0, 50)
      }
    }
  },
  watch: {
    '$route.params.info': function (info) {
      this.search(info)
    }
  }
}
</script>

<style lang="sass" scoped>
  @import './../assets/styles/articles.sass'
</style>
