<template>
    <aside class="side">
      <ul class="side-menu">
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'top-theme' } }">ТОП-тема</router-link>
        </li>
        <li @click="drop0 = !drop0" v-bind:class="{ dropped: drop0 }">
          <span class="side-menu-item">Политика в цифрах и тенденциях</span>

          <ul class="sub-menu">
            <li class="side-menu-item">
              <router-link :to="{ name: 'articles-category', params: { category: 'new-lawmaking' } }">Новое в законодательстве</router-link>
            </li>
            <li class="side-menu-item">
              <router-link :to="{ name: 'articles-category', params: { category: 'foreign-media' } }">иноСМИ об Украине</router-link>
            </li>
          </ul>
        </li>
        <li @click="drop1 = !drop1" v-bind:class="{ dropped: drop1 }">
          <span class="side-menu-item">Экономика в цифрах и тенденциях</span>

          <ul class="sub-menu">
            <li class="side-menu-item">
              <router-link :to="{ name: 'articles-category', params: { category: 'market-research' } }">маркетинговые исследования</router-link>
            </li>
          </ul>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'our-interlocutor' } }">Наш собеседник</router-link>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'ratings' } }">Рейтинги</router-link>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'security' } }">Безопасность</router-link>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'gossip' } }">Слухи</router-link>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'fun-hour' } }">Потехе час</router-link>
        </li>
        <li class="side-menu-item">
          <router-link :to="{ name: 'articles-category', params: { category: 'retro-calendar' } }">Ретро-календарь</router-link>
        </li>
      </ul>
    </aside>
</template>

<script>
export default {
  name: 'SideMenu',
  data () {
    return {
      drop0: false,
      drop1: false
    }
  }
}
</script>

<style scoped>

</style>
