<template>
  <Content>
    <article slot="content">
      <div class="content">
        <h1>{{ video.title }}</h1>
        <span class="time">{{ video.created_at | moment('timezone', 'Europe/Kiev', 'D MMMM, HH:mm') }}</span>
        <iframe
          v-bind:src="'http://www.youtube.com/embed/' + video.url"
          frameborder="0">
        </iframe>
      </div>
      <Videos/>
    </article>
  </Content>
</template>

<script>
import Content from './Content'
import Videos from './widgets/Videos'
import VideoService from '@/services/VideoService'

export default {
  name: 'Video',
  components: {
    Content,
    Videos
  },
  data () {
    return {
      video: {
        created_at: new Date()
      }
    }
  },
  mounted () {
    this.getVideo(this.$route.params.name)
  },
  methods: {
    async getVideo (title) {
      const response = await VideoService.getVideoByTitle({ title: title })
      this.video = response.data.video
    }
  },
  watch: {
    '$route.params.name': function (name) {
      this.getVideo(name)
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/video.sass'
</style>
