<template>
  <div>
    <Menu/>
    <div class="admin-content">
      <div>
        <div class="add"><router-link :to="{ name: 'admin-add-article' }">Add new article</router-link></div>

        <table align="center">
          <thead>
          <th>#</th>
          <th>Title</th>
          <th>Preview</th>
          <th>Actions</th>
          </thead>
          <tbody>
          <tr class="articles-list" v-for="(article, i) in articles" :key="article.title">
            <td>{{ i + 1 }}</td>
            <td>{{ article.title }}</td>
            <td>{{ preview(article.content) | striphtml }}</td>
            <td>
              <router-link v-bind:to="{ name: 'admin-edit-article', params: { id: article._id } }">Edit</router-link>
              <button v-if="article.status === 'published'" v-on:click="archiveArticle(article._id, i)">Archive</button>
              <button v-if="article.status === 'archived'" v-on:click="publishArticle(article._id, i)">Publish</button>
              <button v-on:click="deleteArticle(article._id, i)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-if="countPages > 1" class="pagination">
          <div v-if="currPage - 1 > 0" class="pagination-wrap">
            <div class="pagination-block prev">
              <router-link :to="{ name: 'admin-articles', query: { page: currPage - 1 } }">prv</router-link>
            </div>
            <div class="pagination-block">
              <router-link :to="{ name: 'admin-articles', query: { page: currPage - 1 } }">{{ currPage - 1 }}</router-link>
            </div>
          </div>
          <div class="pagination-block current">{{ currPage }}</div>
          <div v-if="currPage + 1 <= countPages" class="pagination-wrap">
            <div class="pagination-block">
              <router-link :to="{ name: 'admin-articles', query: { page: currPage + 1 } }">{{ currPage + 1 }}</router-link>
            </div>
            <div class="pagination-block next">
              <router-link :to="{ name: 'admin-articles', query: { page: currPage + 1 } }">nxt</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../Menu'
import ArticlesService from '@/services/ArticlesService'

export default {
  name: 'AdminArticles',
  components: {
    Menu
  },
  data () {
    return {
      articles: [],
      currPage: 0,
      countPages: 0
    }
  },
  mounted () {
    const current = this.$route.query.page
    this.currPage = current
    this.getArticles(current)
  },
  methods: {
    async getArticles (current) {
      try {
        const response = await ArticlesService.getArticles({ page: current })
        this.articles = response.data.articles
        this.currPage = parseInt(response.data.currPage)
        this.countPages = response.data.countPages
        console.log(this.currPage, this.countPages)
      } catch (err) {
        console.log(err)
      }
    },
    preview: (content) => {
      return content.slice(0, 50)
    },
    async archiveArticle (id, num) {
      try {
        const response = await ArticlesService.archiveArticle({ id: id })
        this.articles[num].status = 'archived'
        console.log(response.data)
      } catch (err) {
        console.log(err)
      }
    },
    async publishArticle (id, num) {
      try {
        const response = await ArticlesService.publishArticle({ id: id })
        this.articles[num].status = 'published'
        console.log(response.data)
      } catch (err) {
        console.log(err)
      }
    },
    async deleteArticle (id, num) {
      try {
        const response = await ArticlesService.deleteArticle({ id: id })
        this.articles.splice(num, 1)
        console.log(response.data)
      } catch (err) {
        console.log(err)
      }
    }
  },
  watch: {
    '$route.query.page': function (page) {
      this.getArticles(page)
    }
  }
}
</script>

<style scoped>

</style>
