<template>
    <div>
      <Menu/>
      <div class="admin-content">
        <transition name="fade">
          <div v-if="status === true && triggers.success" @click="triggers.success = false" class="status success">
            <p>Article has been successfully edited.</p>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="status === false && triggers.fail" @click="triggers.fail = false" class="status fail">
            <p>Error.</p>
          </div>
        </transition>
        <h1>Editing article</h1>
        <div>
          <label>Title:</label>
          <input placeholder="title" v-model="article.title"/>
          <div class="cat-info">
            <label for="cat">Category</label>
            <select v-model="category.selected" id="cat">
              <option v-for="option in category.options" v-bind:key="option.name" v-bind:value="option.value">{{ option.name }}</option>
            </select>
            <div @click="addCategory" class="add-category">Add category</div>
          </div>
          <div class="category" v-for="(categoryItem, i) in article.category" v-bind:key="categoryItem.name">
            {{ categoryValue(categoryItem) }}
            <div @click="deleteCategory(i)" class="category-delete">x</div>
          </div>

          <label>Thumbnail:</label>
          <input @change="previewImg" type="file" ref="thumbnail" class="set-thumbnail" placeholder="Set thumbnail" />
          <img v-bind:src="article.thumbnail" class="thumbnail-preview" />

          <label>Content:</label>
          <vue-editor
            useCustomImageHandler
            @imageAdded="handleImageAdded" v-model="article.content"></vue-editor>
          <button v-on:click="editArticle">Edit</button>
        </div>
      </div>
    </div>
</template>

<script>
import Menu from '../Menu'
import ArticlesService from '@/services/ArticlesService'
import { VueEditor } from 'vue2-editor'

export default {
  name: 'EditArticle',
  components: {
    Menu,
    VueEditor
  },
  data () {
    return {
      article: {},
      status: null,
      triggers: {
        success: true,
        fail: true
      },
      category: {
        selected: '',
        options: [
          {name: 'ТОП-тема', value: 'top-theme'},
          {name: 'Новое в законодательстве', value: 'new-lawmaking'},
          {name: 'иноСМИ об Украине', value: 'foreign-media'},
          {name: 'маркетинговые исследования', value: 'market-research'},
          {name: 'Наш собеседник', value: 'our-interlocutor'},
          {name: 'Рейтинги', value: 'ratings'},
          {name: 'Безопасность', value: 'security'},
          {name: 'Слухи', value: 'gossip'},
          {name: 'Потехе час', value: 'fun-hour'},
          {name: 'Ретро-календарь', value: 'retro-calendar'}
        ]
      }
    }
  },
  mounted () {
    this.getArticle()
  },
  methods: {
    async getArticle () {
      try {
        const response = await ArticlesService.getArticle({id: this.$route.params.id})
        this.article = response.data.article
      } catch (err) {
        console.log(err)
      }
    },
    async editArticle () {
      try {
        const formData = new FormData()
        formData.append('thumbnail', this.$refs.thumbnail.files[0])
        formData.append('article', JSON.stringify(this.article))
        const response = await ArticlesService.editArticle(formData)

        this.showSuccess(response.data.status === 'success')
      } catch (err) {
        this.showErr()
      }
    },
    categoryValue (cat) {
      const list = this.category.options
      for (let i = 0; i < list.length; i++) {
        if (list[i].value === cat) {
          return list[i].name
        }
      }
    },
    deleteCategory (num) {
      this.article.category.splice(num, 1)
    },
    addCategory () {
      this.article.category.push(this.category.selected)
      console.log(this.article.category)
    },
    async handleImageAdded (file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)

      let formData = new FormData()
      formData.append('img', file)

      try {
        const response = await ArticlesService.addImage(formData)
        const url = response.data.url // Get url from response
        Editor.insertEmbed(cursorLocation, 'image', url)
        resetUploader()
      } catch (e) {
        console.log(e)
      }
    },
    showSuccess (status) {
      this.status = status
      this.triggers.success = this.triggers.fail = true
    },
    showErr () {
      this.status = false
      this.triggers.fail = true
    },
    previewImg () {
      const file = this.$refs.thumbnail.files[0]
      this.article.thumbnail = URL.createObjectURL(file)
    }
  }
}
</script>

<style scoped>

</style>
